<!-- form handling -->
<form  method="POST" id="add_service">
    <div class="new_service">
        <div class="form-group">
            <label for="name" class="text-light">Service_Name</label>
            <input type="hidden" name="id" value="">
            <input type="text" name="name" value="" placeholder="HYDRA Facial">
        </div>
        <div class="form-group">
            <label for="type" class="text-light">Service_Type</label>
            <input type="text" name="type" value="" placeholder="Skin">
        </div>
        <div class="form-group">
            <label for="descript" class="text-light">Description</label>
            <input type="text" name="descript" value="" placeholder="This is hydra facial">
        </div>
        <div class="form-group">
            <label for="price" class="text-light">Price</label>
            <input type="number" name="price" value="" placeholder="5000">
        </div> 

        <div class="form-group">
            <button type="submit" class="btn text-dark update">Save</button>
        </div>

    </div>
</form>